* {
	margin: 0;
	padding: 0;
}
html {
    font-size : 20px;
    line-height: 1;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 22px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 23px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 25px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 27px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 29px !important; 
    }	
}
body{
    min-width: 320px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    background: #fff;
}
i,em {
	font-style: normal;
}
b,strong {
	font-weight: normal;
}
li,dd {
	list-style-type: none;
}
a,a:link,a:visited,a:hover,a:active {
	color: #666;
	text-decoration: none;
	outline: none;
}
h1,h2,h3,h4,h5,h6,p {
	font-weight: normal;
	line-height: 1;
}
div,img,span,em,i,b,ul,li,dl,dt,dd,a,h1,h2,h3,h4,h5,h6,p,table,th,tr,td {
    -webkit-tap-highlight-color:transparent !important;
    cursor: pointer;
}
.red {
    color: red !important;
}

/* 底部 */
.footer {
    overflow: hidden;
    padding: 0 0.8rem;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: #fff;
}
.footer a {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    font-size: 0;
    position: relative;
    padding: 0.5rem 0;
}
.footer img {
    height: 1.2rem;
}
.footer p {
    color: #808080;
    font-size: 0.571rem;
    margin-top: 0.2rem;
    line-height: 0.6rem;
}
.footer a.active p {
    color: #f90;
}
.footer i,.footer em {
    background: red;
    color: #fff;
    border-radius: 50%;
    font-size: 0.4rem;
    width: 0.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    position: absolute;
    left: 50%;
    top: 0.2rem;
    margin-left: 0.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6)
}
.footer em {
    width: 0.4rem;
    height: 0.4rem;
    top: 0.4rem;
    margin-left: 0.5rem;
}
.footer-c a {
    width: 20%;
}

/* 用户中心导航 */
.user-nav {
    background: #f2f2f2;
}
.user-nav .tit {
    overflow: hidden;
    padding: 0.6rem;
    font-size: 0;
    position: relative;
}
.user-nav .tit a>img {
    float: left;
    height: 2rem;
}
.user-nav .tit a>img:last-child {
    height: 1.2rem;
    margin: 0.4rem 0;
    float: right;
}
.user-nav .tit a>div {
    float: left;
    padding-top: 0.3rem;
    margin-left: 0.4rem;
}
.user-nav .tit a>div h1 {
    font-weight: bold;
    font-size: 0.8rem;
    color: #333;
    line-height: 0.8rem;
}
.user-nav .tit a>div p {
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #333;
    margin-top: 0.1rem;
}
.user-nav .nav {
    display: flex;
}
.user-nav .nav>a {
    flex: 1;
    font-size: 0.6rem;
    line-height: 0.8rem;
    padding: 0.4rem 0;
    font-weight: bold;
    background: #009966;
    color: #fff;
    text-align: center;
    border-radius: 0.4rem 0.4rem 0 0;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}
.user-nav li {
    display: none;
}
.user-nav li>a {
    flex: 1;
    text-align: center;
    font-size: 0.65rem;
    line-height: 0.7rem;
    background: #fff;
    color: #009966;
    padding: 0.5rem 0;
    border-right: 1px solid #eee;
    white-space: nowrap;
}
.user-nav dl {
    display: none;
}
.user-nav dd {
    display: none;
    padding: 0 0.2rem;
}
.user-nav dd>a {
    flex: 1;
    text-align: center;
    font-size: 0.6rem;
    line-height: 0.9rem;
    background: #fff;
    color: #000;
    margin: 0.4rem 0.4rem;
    padding: 0.6rem 0;
}
.user-nav .nav>a.active {
    background: #996600;
}
.user-nav dl.active {
    display: block;
}
.user-nav li.active,.user-nav dd.active {
    display: flex;
}
.user-nav li>a.active,.user-nav dd>a.active {
    color: red;
}
.user-nav dd>a.active {
    border-bottom: 1px solid #009966;
}
.user-nav-b .nav>a {
    background: #ff6600;
}
.user-nav-b li>a {
    color: #333;
}
.user-nav-b dd>a {
    background: #cccc00;
}
.user-nav-b dd>a.active {
    border-bottom: none;
}
.user-nav-c .nav>a{
    background: #8e0dbf;
}
.user-nav-c .nav>a.active {
    background: #ff6600;
}
.user-nav-c li>a {
    color: #333;
}
.user-nav-c li>a.active {
    color: #8e0dbf;
}
.user-nav-c .mystore {
    position: absolute;
    bottom: 0.6rem;
    right: 0.60rem;
    display: block;
    font-size: 0.65rem;
    color: #333;
    line-height: 0.8rem;
}
.user-nav-c .tit a>img:last-child {
    margin: 0 0.8rem;
    height: 1rem;
}

/* 微商城头部 */
.maket-shop {
    
}
.maket-shop .tit {
    padding: 0.4rem 0 0.2rem 0.6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.maket-shop .tit .text{
    overflow: hidden;
    text-align: left;
}
.maket-shop .tit .left {
    float: left;
    font-size: 0;
    width: 45%;
}
.maket-shop .tit .left img {
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: top;
}
.maket-shop .tit .left>div {
    display: inline-block;
    vertical-align: top;
    padding: 0.2rem 0;
    margin-left: 0.4rem;
}
.maket-shop .tit .left h1 {
    font-size: 0.7rem;  
    line-height: 0.8rem;
    color: #fff;
    font-weight: bold;
}
.maket-shop .tit .left p {
    font-size: 0.6rem;
    line-height: 1;
    color: #fff;
}
.maket-shop .tit .right {
    float: right;
    text-align: right;
    width: 55%;
    font-size: 0;
}
.maket-shop .tit .right .marquee {
    color: #ffff99;
    font-size: 0.6rem;
    line-height: 1;
}
.maket-shop .tit .right p {
    font-size: 0.7rem;
    color: #fff;
    margin-top: 0.2rem;
    margin-right: 0.6rem;
}
.maket-shop .tit .img {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    margin: 0 0.6rem -0.6rem 0;
    font-size: 0;
    border-radius: 50%;
}
.maket-shop .tit .img>img {
    height: 1.4rem;
    vertical-align: middle;
}
.maket-shop .tit h2 {
    color: #ffff99;
    font-size: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    padding-right: 0.6rem;
}
.maket-shop .tit .nav-bg {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
}
.maket-shop .tit .nav {
    position: absolute;
    top: 2rem;
    right: 0.4rem;
    background: rgba(51, 51, 51, 0.95);
    font-size: 0;
    width: 6rem;
    border-radius: 0.2rem;
    z-index: 13;
    padding: 0.7rem 0;
    display: none;
}
.maket-shop .tit .nav a {
    font-size: 0.7rem;
    display: block;
    line-height: 1.7rem;
    text-align: center;
    color: #ccc;
}
.maket-shop .tit .nav a:last-child {
    border-bottom: none;
}
.maket-shop .scroll {
    font-size: 0;
}
.maket-shop .scroll .marquee {
    width: 50%;
    display: inline-block;
    font-size: 0.6rem;
    line-height: 1.2rem;
}
.maket-shop .banner {
    font-size: 0;
    padding: 0.6rem;
}
.maket-shop .banner .img {
    width: 3.6rem;
    height: 3.2rem;
    display: inline-block;
    vertical-align: top;
}
.maket-shop .banner .img>img {
    width: 3.2rem;
    height: 3.2rem;
}
.maket-shop .banner .swiper-container {
    width: 75%;
    display: inline-block;
    height: 3.2rem;
    vertical-align: top;
}
.maket-shop .banner .swiper-slide {
    font-size: 0.7rem;
    line-height: 0.9rem;
    height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.maket-shop .banner .swiper-container b {
    color: #009900;
}
.maket-shop .banner .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    background: #fff;
    opacity: 1;
}
.maket-shop .banner .swiper-pagination-bullet-active {
    background: #ff6600;
}
.maket-shop .banner .swiper-container-horizontal>.swiper-pagination-bullets, .maket-shop .banner .swiper-pagination-custom, .maket-shop .banner .swiper-pagination-fraction {
    bottom: 0;
}
.maket-shop .menu {
    overflow: hidden;
    margin-top: 0.5rem;
}
.maket-shop .menu>div {
    font-size: 0;
    white-space: nowrap;
}
.maket-shop .menu a {
    width: 4.6rem;
    display: inline-block;
    font-size: 0.7rem;
    color: #fff;
    background: #000;
    border-radius: 0.3rem 0.3rem 0 0;
    text-align: center;
    line-height: 1.6rem;
    border-left: 1px solid #fff;
}
.maket-shop .menu a:last-child {
    border-right: 1px solid #fff;
}
.maket-shop .menu a.active {
    background: #990000;
}

/* 确认消息框 */
.common-confirm {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.common-confirm .cont {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto 1.2rem;
}
.common-confirm .cont .tit {
    font-size: 0.685rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 0.8rem 0;
    color: #330099;
}
.common-confirm .cont p {
    font-size: 0.685rem;
    padding: 1rem;
    line-height: 1rem;
    min-height: 3rem;
}
.common-confirm .cont .btn {
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.common-confirm .cont .btn a {
    font-size: 0.685rem;
    text-align: center;
    color: #666;
    cursor: pointer;
    z-index: 10;
    position: relative;
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    padding: 0.8rem 0;
}
.common-confirm .cont .btn a.alone {
    border-right: none;
    width: 100%;
}
.common-confirm .close {
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    height: 0.6rem;
}

/* 警告消息框 */
.common-alert {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.55rem 0.6rem 0.45rem;
    width: 10rem;
    margin: auto;
    text-align: center;
}

/* 放大图片 */
.enlarge-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.enlarge-img>div {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    width: 90%;
    font-size: 0;
    padding: 10% 0;    
}
.enlarge-img>div img {
    width: 100%;
    background-color: #fff;
}

/* 播放视频 */
.play-video {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 60;
}
.play-video>div {
    font-size: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -6.5rem;
}
.play-video video {
    width: 100%;
    height: 13rem;
    background: #000;
}
.play-video .remove {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    height: 1.2rem;
    z-index: 99999;
}

/* 单选 */
.select-single {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    display: none;
}
.select-single>div {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-height: 80%;
    overflow-y: scroll;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);
}
.select-single label {
    font-size: 0.742rem;
    color: #333;
    display: block;
    margin: 0 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    line-height: 1rem;
    cursor: default;
    text-align: left;
}
.select-single input {
    width: 1rem !important;
    height: 1rem !important;
    outline: none;
    vertical-align: top;
    margin-right: 0.6rem;
}
.select-single label:last-child {
    border-bottom: none;
}

/* 商城头部 */
.store-head {
    background: #ef6d6d;
    padding: 0 0.6rem 0;
    position: relative;
    z-index: 34;
}
.store-head.store-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 24;
}
.store-head h1 {
    display: flex;
    padding-top: 0.6rem;
}
.store-head h1 span {
    font-size: 0.9rem;
    line-height: 2rem;
    flex: 1;
    color: #fff;
    text-align: center;
}
.store-head h1 b {
    font-size: 0.6rem;
    color: #fff;
    flex: 1;
}
.store-head h1 i {
    text-align: right;
    flex: 1;
}
.store-head h1 i>img {
    height: 0.8rem;
    vertical-align: top;
}
.store-head>div {
    overflow: hidden;
    margin-top: 0.2rem;
    padding-bottom: 0.4rem;
}
.store-head .fixed {
    margin-top: 0;
    padding-top: 0.6rem;
}
.store-head .banner {
    width: 72%;
    float: left;
}
.store-head .banner .swiper-container {
    height: 0.8rem;
}
.store-head .banner .txt {
    font-size: 0.7rem;
    line-height: 0.8rem;
    display: block;
    font-size: 0.6rem;
    color: #eee;
}
.store-head .search {
    float: right;
    font-size: 0;
}
.store-head .search input {
    background: #ef6d6d;
    border: none;
    font-size: 0.6rem;
    vertical-align: top;
    line-height: 0.7rem;
    width: 3.2rem;
    text-align: right;
    margin-right: 0.2rem;
    outline: none;
    color: #fff;
}
.store-head .search input::-webkit-input-placeholder {
    color: #eee;
} 
.store-head .search input:-moz-placeholder {
    color: #eee; 
} 
.store-head .search  input::-moz-placeholder {
    color: #eee;
} 
.store-head .search input:-ms-input-placeholder {
    color: #eee;
} 
.store-head .search img {
    height: 0.7rem;
    vertical-align: top;
}
.store-head .nav {
    position: absolute;
    top: 4.0rem;
    right: 0;
    background: rgba(239, 109, 109, 0.8);
    width: 8rem;
    z-index: 30;
    border-radius: 0 0 0 0.4rem;
    padding: 0.4rem 0;
    margin-top: 0;
    overflow: auto;
    display: none;
}
.store-head .nav a {
    font-size: 0.7rem;
    display: block;
    line-height: 1.8rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.store-rank.store-fixed {
    position: fixed !important;
    top: 1.75rem;
    left: 0;
    right: 0;
    z-index: 24;
}

/* 子页面返回头部 */
.return-head h1 {
    text-align: center;
    font-size: 0.9rem;
    line-height: 2rem;
    background: #009966;
    position: relative;
    color: #fff;
    width: 100%;
}
.return-head .return {
    position: absolute;
    left: 1rem;
    top: 0.4rem;
    line-height: 1.2rem;
    font-size: 0;
}
.return-head .return img {
    width: 1.2rem;
    vertical-align: middle;
}
.return-head-b h1 {
    background: #ff6600;
}
.return-head-c h1 {
    background: #8e0dbf;
}

/* 选择日期 */
.select-date {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 25;
    display: none;
}
.select-date>div {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto 1.2rem;
    top: 20%;
}
.select-date h2 {
    font-size: 0.685rem !important;
    line-height: 1 !important;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 0.8rem 0;
    color: #330099;
}
.select-date .operate {
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.select-date .operate h3,.select-date .operate h4 {
    font-size: 0.685rem;
    text-align: center;
    color: #666;
    cursor: pointer;
    z-index: 10;
    position: relative;
    float: left;
    width: 50%;
}
.select-date .operate h4 {
    padding: 0.8rem 0;
}
.select-date .operate h3 b {
    display: block;
    border-right: 1px solid #ddd;
    padding: 0.8rem 0;
}
.select-date .main {
    overflow: hidden;
    margin: 1rem 0;
}
.select-date .left,.select-date .right {
    float: left;
    width: 33.33%;
    height: 6.6rem;
    position: relative;
}
.select-date .year,.select-date .month,.select-date .day {
    text-align: center;
    width: 60%;
    position: absolute;
    top: 2.2rem;
    left: 1rem;
    bottom: 2.2rem;
}
.select-date .year {
    right: 1rem;
    left: auto;
}
.select-date .year ul,.select-date .month ul,.select-date .day ul {
    background: transparent;
}
.select-date .main .year li,.select-date .main .month li,.select-date .main .day li {
    line-height: 2.2rem;
    font-size: 0.685rem;
    border-bottom: none;
    margin: 0;
    cursor: default;
}
.select-date .yearmark,.select-date .monthmark,.select-date .daymark {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 2.2rem;
    width: 60%;
    height: 2.2rem;
    left: 1rem;
    box-sizing: border-box;
}
.select-date .yearmark {
    left: auto;
    right: 1rem;
}

/* 首次进入 */
.first-enter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 30;
}
.first-enter .wrap {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -9.2rem auto 0;
    padding: 2.6rem 0;
    color: #333;
    text-align: center;
    width: 13.6rem;
}
.first-enter .wrap h1 {
    font-size: 0.8rem;
}
.first-enter .wrap p {
    font-size: 0.6rem;
    color: #666;
    margin: 0.9rem 0 1.5rem;
}
.first-enter .wrap h2 {
    font-size: 0.8rem;
    line-height: 1rem;
}
.first-enter .wrap input {
    border: 1px solid #ddd;
    text-align: center;
    outline: none;
    font-size: 0.7rem;
    color: #000;
    line-height: 1rem;
    padding: 0.2rem 0 0.1rem;
    width: 6rem;
}
.first-enter .wrap input::-webkit-input-placeholder { 
    font-size: 0.6rem;
} 
.first-enter .wrap input:-moz-placeholder { 
    font-size: 0.6rem; 
} 
.first-enter .wrap input::-moz-placeholder { 
    font-size: 0.6rem;
} 
.first-enter .wrap input:-ms-input-placeholder { 
    font-size: 0.6rem;
} 
.first-enter .wrap input.phone {
    padding: 0.2rem 1px 0.1rem;
    width: 10.6rem;
    margin-top: 0.3rem;
}
.first-enter .wrap .code {
    font-size: 0;
    margin-top: 0.4rem;
}
.first-enter .wrap .code a {
    font-size: 0.6rem;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
    line-height: 1rem;
    padding: 0.2rem 0 0.1rem;
    margin-left: 0.6rem;
    width: 4rem;
}
.first-enter .wrap .code a.send,.first-enter .wrap .code a.sending {
    color: #999;
}
.first-enter .wrap .btn {
    font-size: 0;
    margin-top: 2rem;
}
.first-enter .wrap .btn a {
    font-size: 0.6rem;
    font-weight: bold;
    color: #999;
    line-height: 1.8rem;
    background: #f2f2f2;
    display: inline-block;
    width: 5rem;
    margin: 0 0.3rem;
    border: 1px solid #f2f2f2;
}
.first-enter .wrap .btn a:first-child {
    color: rgba(255, 102, 0, 0.8);
    border: 1px solid rgba(255, 102, 0, 0.6);
    background: #fff;
}